@model SquadHealthCheck.Models.AdminModel
@{
    ViewBag.Title = "Manage Squad Page";
}

<script type="text/javascript">
    function onButtonClick() {

    }
</script>

<div>
    Join this Squad by using this URL: <a href="@Model.JoinLink">@Model.JoinLink</a>
</div>
<div>
    @Model.Squad.Name
</div>
<div>
    <div id="removeItem" style="display: flex;flex-direction: row;width:100%;flex-wrap:wrap" class="SquadItems">
        @{
            foreach (var item in Model.SquadItems)
            {
                <div id="Card@(item.Id)" style="width:auto;margin:5px;text-wrap:normal;position:relative" onclick="cardClicked(@Model.Squad.Id,@item.Id)">
                    <partial name="Item" model=@item />
                </div>
            }
        }
    </div>
    <hr />
    <div id="addItem" style="display: flex;flex-direction: row;width:100%;flex-wrap:wrap" class="SquadItems">
        @{
            foreach (var item in Model.AvailableItems)
            {
                <div id="Card@(item.Id)" style="width:auto;margin:5px;text-wrap:normal;position:relative" onclick="cardClicked(@Model.Squad.Id,@item.Id)">
                    <partial name="Item" model=@item />
                </div>
            }
        }
    </div>
</div>